/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #0275d8;
}
.link-muted {
    color: rgba(2, 117, 216, .5);
}
/* Custom default button */
.btn {
    font-size: .8rem;
    padding: .75rem 2.13rem;
    margin: 6px;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    white-space: normal !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-primary {
    background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.23)!important;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: rgba(255, 255, 255, 0.23) !important;
}
.btn-outline-primary {
    border: 2px solid #9368E9;
    color: #9368E9 !important;
    background-color: transparent;
    text-transform: uppercase;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:active:focus,
.btn-outline-primary.active {
    background-color: #9368E9;
    color: #fff!important;
    border-color: #9368E9!important;
}
.btn-secondary
 {
    color: #fff;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #30cfc0;
    border: .05rem solid #30cfc0;
}
.btn-secondary:hover,
.btn-secondary:focus{
    background-color: #1d7d73;
    border: .05rem solid #1d7d73;   
}
.btn.btn-sm, .btn-group-sm > .btn, .btn-group-sm .btn {
    padding: 0.40625rem 1.25rem;
    font-size: 0.6875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.form-group {
    margin-bottom: 0.4rem;
    line-height: .9
}
.form-control {
    height: calc(1.6em + .76rem + 3px);
}
.dropdown-toggle::after {
    margin-left: 0;
}
.multiselect-native-select .btn{
    margin: 0;
}
/*
 * Base structure
 */
html,
body {
    height: 100%;
    background-color: #EEF5F9;
}

body, .table {
      color: #777;
}

.cover-container {
    max-width: 48em;
}


/*
 * Header
 */


/*
 * Footer
 */
footer {
        color: rgba(38, 166, 154, .7);
}
.copyright {
    color: #85b4f2
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}


/*
 * Navbar
 */
button.navbar-toggler[aria-expanded = true] {
    z-index: 999;
    color: #fff
}

.navbar {
    font-size: 16px;
    border-radius: 0;
    min-height: 60px;
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
    margin-left: -15px;
}

.navbar .h2 {
    font-weight: 400;
    font-size: 20px;
}

@media (min-width: 48em) {
    .main-nav {
        float: right;
    }

    .navbar-toggler {
        margin-left: unset;
    }

    .navbar, .main-footer {
        position: relative;
        left: 260px;
        width: calc(100% - 260px);
    }
}
.navbar-brand {
    margin-bottom: 0;
    color: #9368E9;
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 0 .05rem .1rem rgba(147, 104, 233, .5);
}

.sidebar .navbar-brand {
    text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
}

.logo {
    position: relative;
    z-index: 4;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 48em) {
    .cover-container .navbar-brand {
        float: left;
    }

    .cover-container nav {
        float: right;
    }
}


.dash-wrapper {
    max-width: 100%;
}


/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/*
 * Sidebar
 */
.sidebar[data-image]::after, .sidebar.has-image::after {
    opacity: .77;
}

.sidebar::after {
    background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
    background-size: auto;
    background-size: 150% 150%;
    z-index: 3;
}

.sidebar::after, 
.sidebar::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar::before {
    opacity: .33;
    background: #000000;
}

.sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    max-width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 48em) {
    .main-content {
        max-width: calc(100vw - 260px);
    }
}
.sidebar .sidebar-wrapper {
    position: relative;
    max-height: 100%;
    min-height: 100%;
    overflow: auto;
    z-index: 4;
    padding-bottom: 100px;
}
.sidebar .nav {
    margin-top: 20px;
    float: none;
    display: block;
}
.sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.sidebar .nav li.active .nav-link {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li.active .nav-link, body > .navbar-collapse .nav li.active .nav-link {
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li .nav-link {
    margin: 5px 5px;
    opacity: .86;
    border-radius: 4px;
    display: block;
    padding: 10px 15px;
}
.sidebar .nav li .nav-link p{
    margin: 0;
    line-height: 31px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
}
.sidebar .nav li .nav-link i {
    margin-right: 15px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}
.sidebar .nav li .nav-link {
    color: #FFFFFF;
}
.sidebar .nav li .nav-link:hover,
body>.navbar-collapse .nav li .nav-link:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}
/*
 * Multi select
 */
.multi-select-wrapper{
    position: relative;
}
span.multiselect-native-select {
    position: relative
}

span.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container > li {
    padding: 0
}

.multiselect-container > li > a.multiselect-all label {
    font-weight: 700
}

.multiselect-container > li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container > li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container > li > a {
    padding: 0
}

.multiselect-container > li > a > label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 0 3px 30px
}

.multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
    margin: 0
}

.multiselect-container > li > a > label > input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}
.card-deck .card{
    min-width: 320px;
    margin-bottom: 2rem
}
.card-footer a {
    color: #9368E9 !important;
    font-size: .8rem
}

.font-weight-bold {
    font-weight: 600 !important;
}