<footer class="mt-auto border-top pt-2 pb-2">
    <div class="inner">
        <a class="pr-2 link-muted" asp-area="" asp-page="/About">About us</a>
        <a class="pr-2 link-muted" asp-area="" asp-page="/Contact">Contact us</a>
        <a class="pr-2 link-muted" asp-area="" asp-page="/Privacy">Privacy policy</a>
        <a class="mr-auto link-muted" asp-area="" asp-page="/Terms">Terms & conditions</a>
    </div>
    <div>
        <p class="small link-muted">&copy; 2020 - ODoctor</p>
    </div>
</footer>
